.notesContainer {
  background-color: #ffffff;
  /* flex-grow: 10; */
 height: 100%;

}
.container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  height: 100vh;
}
.heading h1 {
  margin: 0 0 0 1rem;
  color: #343357;
  /* box-shadow: 2px 2px 4px ; */
}
.heading {
  display: flex;
  justify-content: space-between;
  background-color: #aca6f8;
  box-shadow: 1px 1px 2px #8d89cc;
  border-radius: 5px;
  margin: 0 1rem;
  padding: 0.1rem;
}
.heading .btns {
  margin-right: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
/* .btns{
    flex-grow: 1;

} */
.btn {
  all: unset;
  align-self: center;
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: #6864ac;
  text-align: center;
  border-radius: 5px;
  align-self: center;
  color: white;
  font-weight: bold;
  transition: linear 0.2s;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: 0.2s;
  cursor: pointer;
}
.btn:hover {
  box-shadow: 2px 2px 4px #4c4883;
  transform: translateY(-1px);
}
.btn:focus-within {
  background-color: #3d3970;
}

.highlightedBtn {
  all: unset;
  align-self: center;
  padding: 0.5rem;
  font-size: 1.5rem;
  background-color: #343357;
  text-align: center;
  border-radius: 5px;
  align-self: center;
  color: white;
  font-weight: bold;
  transition: linear 0.2s;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: 0.2s;
  cursor: pointer;
  box-shadow: 1px 1px 2px #424069;
}

.notFound img{
  height: 20rem;
  margin: 0 ;
  padding: 0;
   
}
.notFound{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;

}
