.cardsContainer{
    /* height: 100%; */
   max-height: 350px;
    display: grid;
    /* width: 100%; */
    gap: 1rem;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    /* grid-auto-rows: 200px; */
    /* justify-content: center; */

}
.cardsOuterContainer{
    padding: 1rem;
    height: 100%;
     overflow-y: scroll;
     scrollbar-width: thin;
      scrollbar-color: #524d85 #fbfcfd;
    background-color: #f8f3fc;

}
.img{
    height: 50%;
    /* width: 40%; */
    margin: 0 auto;
}