.formPageContainer{
    /* flex: 1; */
    display: flex;
    /* width: 65vw; */
    /* height: 65vh; */
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    background-color: #5B568C;
    border-radius: 10px;
    padding: 1rem 2rem 2rem 2rem;
    /* box-shadow: 1px 1px 5px 2px rgba(0,0,0,0.2); */
}

.heading{
    display: flex;
    flex-direction: column;
    /* gap: 100px; */
    /* gap: 1rem; */
    justify-content: center;
    align-items: center;
}
.heading img{
    height: 1rem;
    align-self: flex-end;
    position: relative;
    left: 18px;
    cursor: pointer;
    transition: 0.2s;
}
.heading img:hover{
    transform: scale(1.1,1.1);
}
.heading h2{
      border: #4D4A79 2px solid;
    border-radius: 10px; 
    padding: 1rem; 
    color: white;
     margin: 0;
      transition: linear 0.4s;
}
.heading h1:hover{
     /* transform: scale(1.04,1.04); */
     box-shadow: 5px 5px 6px 1px #3d3b55;
}

.form{
    width: 100%;
   
}
