.overlay{
    
    /*
    margin: auto 0;
    background-color: aliceblue; */
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 1000;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal{
    max-width: 60%;
    animation: pop 0.25s ease;
}

@keyframes pop{
    from{
        transform: scale(0.8);
        opacity: 0;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}