.headerContainer{
    background-color: white;
    /* width: 100vw; */
    height:52.38px;
    display: flex;
    /* flex-direction: column; */
    padding: 0.6rem;
    gap: 2px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 6px 2px rgba(211, 210, 210,0.5);
    
}
.user{
    margin-right: 10px;
}

