.container ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.container ul li a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}