.sidebarContainer{
    width: 240px;
    height:100vh;
    display: flex;
    flex-direction: column;
    background-color: #7B76CA;
    /* padding: 5px; */
    font-size: 1.2rem;
    color: white;
    box-shadow: 1px 1px 2px #3d3b55;
}
.logo{
    /* margin-top: 1rem; */
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #534e97;
    box-shadow: 1px 1px 2px #3d3b55;

}
.logo img{
    height: 50px;
    width: auto;
}

.footer{
    flex-grow: 1;
    align-self:center ;
    align-content: flex-end;
    margin-bottom: 3rem;
}
